/** Variables */

:root {
  --color-primary-dark: #2F80ED;
  --color-primary-medium: #2D9CDB;
  --color-primary-light: #56CCF2;
  --color-bg-light-1: #f1f1f1;
  --color-bg-light-2: #fbfbfb;
  --color-bg-light-3: #BDBDBD;
  --color-text-dark: #2b2b2b;
}

/** Base*/
html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--color-bg-light-1);
  padding: 30px;
}

/** Typography*/
.heading-primary {
  font-size: 50px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  color: var(--color-text-dark);
}

/** Table */
table {
  margin: 50px auto;
  box-shadow: 5px 5px 5px 3px var(--color-bg-light-3);
}

th,
td,
tb {
  padding: 20px 30px;
  background-color: var(--color-bg-light-2);
  color: var(--color-text-dark);
  border-bottom: 2px solid var(--color-primary-dark);
}
th {
  text-transform: uppercase;
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: 600;
  color: var(--color-text-dark);
}
